aiohappyeyeballs==2.7.1
aiohttp==3.14.3
aiosignal==1.4.0
asgiref==3.12.1
attrs==26.1.0
audioop-lts==0.2.2
autobahn==26.7.1
Automat==25.4.16
cbor2==6.1.4
cffi==2.1.1
channels==4.3.2
constantly==23.10.4
cryptography==50.0.1
daphne==4.2.3
discord.py==2.7.1
Django==6.1.1
frozenlist==1.8.0
hyperlink==21.0.0
idna==3.19
Incremental==24.11.0
msgpack==1.2.2
multidict==6.8.0
packaging==26.3
propcache==0.5.3
pycparser==3.0
pyOpenSSL==26.4.0
service-identity==26.1.0
sqlparse==0.6.0
Twisted==26.4.0
txaio==26.6.1
typing_extensions==4.16.0
ujson==6.0.0
yarl==1.25.1
zope.interface==8.6
